.main-home{
    display:flex;
    align-content:center;
    align-items: center;
    flex-direction: column;
}
.main-home > iframe{
    width:100%;
}

@media screen and (max-width: 992px){
    .main-home > iframe{
        height:50vw;
    }
}